table{
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px black;
    width: 30%;
    height: 70%;
}
td{
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px black;
    padding: 40px;
}